@import "reset.less";
@import "variables.less";
@import "mixins.less";

// Base CSS
@import "type.less";
@import "code.less";
@import "forms.less";
@import "tables.less";

body {
    background: #565656;
}

#buzz {
	width: 250px;
	color: #7f7d7a;
	font-family: "Helvetica Neue", Helvetica, Menlo, Consolas, "Courier New", monospace;
	font-size: 14px;

	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

	@itemHeight: 24px;

	.item {
		height: @itemHeight;
		border-bottom: 1px solid #111111;
		background-color: #333333;
		padding: 4px 5px 0 5px;
		line-height: 29px;
	}
	span { margin: 0; }

	.switch-off {
		color: #212121;
	}

	.container {
		border: 2px solid #111111;
		div:first-child {
			background-color: #282826;
		}
		.item:first-child, .item:last-child {
			border-bottom: none;
		};
		h3 {
			font-size: 14px;
			margin: 0; padding: 0;
			line-height: 14px;
		}

	}

	input[type="text"], select {
		border: none;
		.border-radius( 0 );
		background-color: #aaaaaa;
		width: 140px;
		height: 13px;
		font-size: 11.5px;
		float: right;
		&:after { .clearfix() };
		padding: 4px; margin: 0;
	}
	select {
		height: 20px;
		width: 148px;
	}
	.bar {
		div.bar {
			display: inline;
			border: 1px solid #aaaaaa;
			width: 98px;
			height: 19px;
			float: right;
			&:after { .clearfix() };
			margin-right: 10px;
			position: relative;
			cursor: row-resize;
			div {
				height: 19px;
				background-color: #aaaaaa;
				width: 50px;
			}
		}
		input[type="text"] {
			width: 30px;
			&:after { clear: none };
		}
	}


}